<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://static.vecteezy.com/system/resources/previews/002/638/212/non_2x/b-alphabet-letter-logo-for-business-and-company-with-wings-and-black-and-white-grey-color-corporate-brading-and-lettering-icon-with-simple-design-vector.jpg"
                alt="" width="30" height="24" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink=""><button mat-button
                            color="primary">Home</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><button mat-button color="primary" routerLink="viewdata">Students</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>