h1 {
    text-align: center;
    margin: auto;
    width: 70%;
}

.msg {
    margin: auto;
    width: 70%;
}

.formdiv {
    margin: auto;
    border: 3px solid white;
    width: 70%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgb(226, 220, 220);
    padding: 30px;

}